In [1]:
import pandas as pd

In [2]:
base_transacional = pd.read_csv("lista_compras.csv")

In [3]:
base_transacional.shape

(7501, 120)

In [4]:
base_transacional.head()

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
base_transacional.sum()

almonds              153.0
antioxydant juice     67.0
asparagus             36.0
avocado              250.0
babies food           34.0
                     ...
whole wheat pasta    221.0
whole wheat rice     439.0
yams                  86.0
yogurt cake          205.0
zucchini              71.0
Length: 120, dtype: float64

In [6]:
sup = base_transacional.sum()/len(base_transacional)

In [7]:
sup

almonds              0.020397
antioxydant juice    0.008932
asparagus            0.004799
avocado              0.033329
babies food          0.004533
                       ...
whole wheat pasta    0.029463
whole wheat rice     0.058526
yams                 0.011465
yogurt cake          0.027330
zucchini             0.009465
Length: 120, dtype: float64

In [8]:
sup >= 0.05

almonds              False
antioxydant juice    False
asparagus            False
avocado              False
babies food          False
                     ...
whole wheat pasta    False
whole wheat rice      True
yams                 False
yogurt cake          False
zucchini             False
Length: 120, dtype: bool

In [9]:
sup_itens = sup[sup >= 0.05]

In [10]:
sup_itens

burgers              0.087188
cake                 0.081056
chicken              0.059992
chocolate            0.163978
cookies              0.080389
cooking oil          0.051060
eggs                 0.179709
escalope             0.079323
french fries         0.170911
frozen smoothie      0.063325
frozen vegetables    0.095321
grated cheese        0.052393
green tea            0.132116
ground beef          0.098254
low fat yogurt       0.076523
milk                 0.129583
mineral water        0.238368
olive oil            0.065858
pancakes             0.095054
shrimp               0.071457
soup                 0.050527
spaghetti            0.174110
tomatoes             0.068391
turkey               0.062525
whole wheat rice     0.058526
dtype: float64

In [11]:
def regras_tam_2(base, itens, taxa_sup, taxa_conf):
    for i, item in enumerate(itens):
        for j in range(i+1, len(itens)):
            count_regra = len(base[(base[item]==1) & 
                               (base[itens[j]]==1)])
            suporte = count_regra/len(base)
            if suporte >= taxa_sup:
                count_a = len(base[base[item]==1])
                confianca = count_regra/count_a
                if confianca >= taxa_conf:
                    print(item, "-->", itens[j],
                         "| suporte: ", suporte,
                         "| confianca: ", confianca)

In [12]:
regras_tam_2(base_transacional, sup_itens.index, 0.02, 0.4)

ground beef --> mineral water | suporte:  0.040927876283162246 | confianca:  0.41655359565807326